extends base.pug

block content 
    h5 Change Title of video
    form(method="POST") 
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", placeholder="Description", value=video.description, required, type="text", maxlength=5000)
        input(name="hashtags", placeholder="Hashtags, separated by comma", value=video.hashtags.join(), required, type="text", maxlength=100)
        input(value="Save", type="submit")