extends base.pug
include mixins/video.pug

block content
    h2 welcome you will see trending video
    ul
        each video in videos
            +video(video)
        else 
            li sorry nothing found