extends base.pug

block content 
    h1=video.title
    h3 #{video.views} #{video.views === 1 ? "view" : "views"}
    //- releative url on href
    a(href=`${video.id}/edit`) Edit Video &rarr;
    video.rating 